VITE_SUPABASE_URL=https://yimfajtovcpicudldjwb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlpbWZhanRvdmNwaWN1ZGxkandiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQwMjgzNDgsImV4cCI6MjA4OTYwNDM0OH0.GobXXaGuk5sA_RLVWswZPg4de4Yd7hHBfXkE30yqt9A
